{% extends 'base.html' %}

{% block content %}
<section class="login">
    {% for cat, msg in get_flashed_messages(True) %}
    <h4 class="flash {{ cat }} text-center">{{ msg }}</h4>
    {% endfor %}
    <form action="" method="post" class="p-5" novalidate>
        {{ form.hidden_tag() }}

        {% for field in form if field.name not in ["csrf_token", "remember", "submit"] %}

        <div class="mb-3">
            {{ field.label(class="form-label") }}
            {% if field.errors %}
                {{ field(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for e in field.errors %}
                    {{ e }}
                    {% endfor %}
                </div>
                {% else %}
                {{ field(class="form-control") }}
            {% endif %}
        </div>
        {% endfor %}

        {{ form.remember.label(class="form-label")}} {{ form.remember() }}
        {{ form.submit(class="btn btn-primary ms  -3") }} <br>
        <div class="mt-2">Нет аккаунта?
            <a href="{{ url_for('register') }}">Регистрация</a>
        </div>
    </form>
</section>
{% endblock %}
