{% extends 'base.html' %}

{% block content %}

<section class="post">

    <div class="card m-5">
        <h5 class="card-header fs-3">{{ title }}</h5>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text fs-4">{{ post }}</p>
            <a href="{{ url_for('index') }}" class="btn btn-primary fs-3">Назад</a>
        </div>
        <div class="card-footer text-muted">
            Просмотров: {{ session['visits'] }}
        </div>
    </div>

</section>


{% endblock %}