{% extends 'base.html' %}

{% block content %}

<section class="register">
    {% for cat, msg in get_flashed_messages(True) %}
        <h4 class="flash {{ cat }} text-center mt-5">{{ msg }}</h4>
    {% endfor %}
    <form action="/register" method="post" class="m-5 p-5" novalidate>
        {{ form.hidden_tag() }}
        {% for field in form if field.name not in ["csrf_token", "submit"] %}
        <div class="mb-3">
            {{ field.label(class="form-label") }}
            {% if field.errors %}
                {{ field(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for e in field.errors %}
                    {{ e }}
                    {% endfor %}
                </div>
            {% else %}
                {{ field(class="form-control") }}
            {% endif %}
        {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</section>

{% endblock %}